/* @import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

html {
  min-height: 100%;
}


body {
  /* font-family: 'PT Sans', sans-serif; */
  font-family: 'Titillium Web', sans-serif;
  min-height: 100%;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: url(/img/felt.png) repeat; */
  background-size: 100%;
  background-position: bottom;
  /* background-color: #EDE9E5; */
  background-color: #27A69A;
  /* background-image: url("https://www.transparenttextures.com/patterns/felt.png"); */
}

form {
  padding: 20px;
  margin-top: 60px;
}

form button, form h5 {
  margin: 20px 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #ec407a;
  box-shadow: none;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label{
  color: #ec407a !important;
}

.mt-60 {
  margin-top: 60px;
}

.mt-0 {
  margin-top: 0px;
}

.mt-20 {
  margin-top: 20px;
}

.mr-10 {
  margin-right:10px;
}

.mr-15 {
  margin-right:15px;
}

.mr-20 {
  margin-right:20px;
}

.ml-10 {
  margin-left: 10px;
}

.round-results-card {
  height: 400px;
  overflow-y:auto;
}

.round-history-card {
    height: 350px;
	  overflow-y: auto;
}

.card-border {
  border: 1px solid black;
}

table {
  table-layout: auto;
}

.sc-user-input--text { 
  width : 280px !important; 
}

.sc-user-input--file-icon {
  display:none;
}

.cursor-pointer {
  cursor:pointer;
}

.vote-selected {
  border: 3px solid gold
}

.upload-border {
  border: dotted 1px black
}

.user-story-list {
    height: 250px;
	  overflow-y: auto;
}

#currentStory {
  min-height: 70px;
}